
<div class="row">
  <div class="span12">
  <div class="well">
      <h2> Sign In </h2>
      <p></p>
      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :defaults => { :label => false }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.input :login, :placeholder => 'Username or Email' %>
        <%= f.input :password, :placeholder => 'Password' %>
        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me, :checked => true %> <%= f.label :remember_me %></div>
        <% end -%>
        <%= f.submit "Sign in", :class => 'btn btn-info' %>
      <% end %>

      <%= render :partial => "devise/shared/links" %>
      </div>
    </div>
</div>