<%= simple_form_for(@habit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :color, :prompt => "Select a color", :collection => { "Black" => 0, "White" => 16777215, "Red" => 16711680, "Green" => 65280, "Blue" => 255, "Yellow" => 16771840, "Orange" => 16744704, "Purple" => 9372840 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
