<% if !user_signed_in? %>

<div class="hero-unit road-bg">
<h1>Dayable</h1>
<p class="lead">Keep track of your success every day!<br/>
  Form habits! Be awesome!</p>
<p><a href="/signup" class="btn btn-success btn-large">Sign up for free</a></p>
</div>

<div class="row">
  <div class="span12">
  <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <a href="javascript://" class="thumbnail"><%= image_tag("dayable_habit_screenshot.png") %></a>
          <div class="caption">
            <h5>Step 1</h5>
            <p class="lead">Make a list of the things you'd like to do every day.</p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <a href="javascript://" class="thumbnail"><%= image_tag("dayable_screenshot3.png") %></a>
          <div class="caption">
            <h5>Step 2</h5>
            <p class="lead">Select an item in your list then select a day in your calendar to start a chain.<br/>See how long you can keep the chain going! Form those habits!</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<% else %>

  
  <p class="alert alert-info" style="display:none"></p>
  <p class="alert alert-error" style="display:none"></p>
  

<div class="row">
  <div class="span3">
    <div id="habit-list-container">
      <h1>Soon To Be Habits</h1>
      <ul id="habit-list">
        <% @habits.each do |habit| %>
          <li>
              <a href="javascript://" class="lead add-habit" data-id="<%= habit.id %>"><%= habit.content %></a>
              <a href="javascript://" class="edit-habit" data-id="<%= habit.id %>"><i class="icon-pencil"></i></a>
              <a href="javascript://" class="delete-habit" data-id="<%= habit.id %>"><i class="icon-trash"></i></a>
          </li>
        <% end %>
      </ul>
    </div>
    <input type="hidden" id="habit-id" />
    <a href="javascript://" id="new-habit" class="btn btn-large"><i class="icon-plus"></i> Start A Habit</a>    
  </div>

  <div class="span9">
    <h3 class="month"></h3>
    <h1 class="year"></h1>

    <br/>
  
    <table id="calendar" class="calendar">
      <thead></thead>
      <tbody></tbody>
    </table>

    <br/>
    
    <button id="last" class="btn btn-large"><i class="icon-arrow-left"></i></button>
    <button id="current" class="btn btn-large"><i class="icon-calendar"></i></button>
    <button id="next" class="btn btn-large"><i class="icon-arrow-right"></i></button>
  </div>
</div>

<% end %>
